.calc_container {
    padding-top: 40px;
    padding-bottom: 70px;
    padding-right: 450px;
    padding-left: 450px;
}

.shadow {
    background-color: rgb(51, 51, 51);
    border-radius: 6px;
}

.header_area {
    display: block;
    display: grid;
    background-color: rgb(240, 240, 240);
    color: black;
    height: 100px;
    border-radius: 6px;
    border-width: 2px;
    border-color: rgb(51, 51, 51);
    border-style: solid;
    padding: 8px;
    justify-content: right;
    font-size: 30px;
}

.button_area {
    display: block;
    height: 300px;
    padding: 15px 10px 10px 10px;
}

button {
    height: 50px;
    width: 50px;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;    
}

.operator_area {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.operator_area button {
    background-color: rgb(255, 165, 0);
}

.number_area {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    row-gap: 10px;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.number_area button {
    background-color: rgb(100, 200, 255);
}

.clear_all {
    padding-left: 27px;
}

.clear {
    background-color: rgb(220, 60, 50);
}